body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #342c48;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #342c48;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fee6ff;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-restaurante, #cardapio {
    background-color: #fee6ff;
}

.text-colored {
    color: #342c48;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #342c48;
    color: #fff
}

.nav-cardapio .nav-link:hover {
    color: #342c48;
} 

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
    
}
